
            
                            min-height: 60px;
                    }

        .page-item-wrap {
                            margin: 16px 0;
                    }

        .page-item-wrap:last-child {
            margin-bottom: 0;
        }

                    .page-item-wrap:hover {
                transform: translate3d(0px, 0px, 0px) scale(1.015);
            }
        
         .page-item-wrap{
            
         }

        .page-item {
            border: 0px solid transparent;
            background: #212121 ;
            border-radius: 8px;
           box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.05);
        }

        .share-btn {
            border: 0px solid transparent;
            background: #212121 ;
            border-radius: 50%;
           box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.05);
        }
        .share-btn-transparent {
            border: 1px solid #e5e5e5;
            border-radius: 50%;
        }
        .share-btn-blog{
            border: 1px solid  !important;
            border-radius:4px;
        }
        .share-btn-blog:hover,  .sub-btn-blog:hover{
            transform:none;
        }
        .share-btn-blog:hover{
            background: #131212 ;
            transition: all 0.3s ease-in-out;
        }

        .sub-btn-blog:hover{
            opacity: .7;
            transition: all 0.3s ease-in-out;
        }

        .sub-btn-blog{
            border-radius:4px !important;
        }


        
        .embed-wrap iframe, .embed-wrap-inside {
                            border-radius: 8px;
                    }

        .link-each-image, .page-item-wrap {
            border-radius: 8px;
        }

        .page-text-font {
            font-family: 'Inter', sans-serif;
            text-transform: none;
            
        }
        .page-item-btn{
            background:#ffffff;
            color: #131212;
            font-size: 14px;
            font-style: normal;
        }

        .page-text-color {
            color: #ffffff;
        }
        .page-text-color-secondary {
            color: ;
        }

        .social-icon-fill path, .social-icon-fill circle, .social-icon-fill rect {
            fill: white;
        }

        .page-overlay-btn {
            border: 2px solid #ffffff;
        }

        .sub-icon path {
            stroke: #ffffff;
        }
        .featured-subscribers-full-width .sub-close path {
            stroke: #ffffff;
        }

        .sub-icon rect {
            stroke: #ffffff;
        }
        .blog-subsc-button,.blog-subsc-email{
            background: #131212;
            color:;
            border: 1px solid ;
        }
        .featured-subscribers-full-width{
            background: #131212;
        }

        .featured-subscribers-full-width .close-subsc:hover {
            background: #131212;
        }

        .featured-subscribers-full-width .subsc-email:focus,#blog_subsc_email:focus, .blog-post-content #post-subsc-email:focus{
            background:none;
            border:1px solid #ffffff;
            transition: all 0.3s ease-in-out;
        }
        .featured-subscribers-full-width .subsc-email, #blog_subsc_email, #post-subsc-email{
            color:#ffffff;
        }

        .featured-subscribers-full-width .subsc-pag-title, .featured-subscribers-full-width .subsc-email, .featured-subscribers-full-width .subsc-email::placeholder, .featured-subscribers-full-width #subscribe-btn-text, .featured-subscribers-full-width .subsc-desc,.featured-subscribers-full-width .redirect-to-blog, .blog-subsc-button #blog-subscribe-btn-text, .blog-subsc-email::placeholder
        {
            font-family: 'Inter', sans-serif !important;
        }

        .featured-subscribers-full-width .subsc-bottom{
            color:;
        }

        .featured-subscribers-full-width .subsc-button,  .blog-subsc-button {
            background: #ffffff;
            border: 1px solid ;
            color:#131212;
            height:40px;
            padding-left:16px;
            padding-right:16px;
        }
        .blog-post-content #post-subscribe-btn{
            background: #ffffff;
            color:#131212;
        }

        .featured-subscribers-full-width .subsc-button > .bl-circle-loader, .blog-subsc-button > .bl-circle-loader  {
            border-top: 3px solid #131212;
            border-right: 3px solid #131212;
        }

        .featured-subscribers-full-width .subsc-email{
            background: #131212;
            border: 1px solid ;
            height:40px;
        }
        .blog-post-content #post-subsc-email{
            background: #131212;
            border: 1px solid ;
        }
        .featured-subscribers-full-width .subsc-desc{
            color:#717171 !important;
            width: 70%;
            margin: auto;
        }
        .redirect-to-blog:hover, .redirect-to-blog:hover svg path{
            color:#ffffff;
            transition: all 0.3s ease-in-out;
        }

        .featured-subscribers-full-width .subsc-pag-title{
            color:#ffffff;
            /* font-family: 'Inter', sans-serif !important; */
        }

        .featured-subscribers-full-width .featured-subscribers-inside{
            background: #131212;
        }

        .featured-subscribers-full-width .featured-head {
            color:;
            padding:0px !important;
        }
        .featured-subscribers-full-width .verify-title {
            color:#ffffff;
        }

        .featured-subscribers-full-width .subsc-email:focus {
            /* border: 1px solid  !important; */
        }
        /* .blog-subsc-button > .bl-circle-loader {
            border-top: 3px solid ;
            border-right: 3px solid ;
        } */
        .blog-item:hover , .blog-item-detailed:hover,.blog-item-left:hover{
            background-color: #131212;
        }
        .blog-item-divide{
             border-top: 0.50px solid ;
        }

        .blog-item-divide:last-child{
            border-bottom: 0.50px  solid;
        }

        .blog-item-detailed {
            border: 0.50px  solid;
            font-size: 14px;
        }

        .blog-item:hover {
            /* padding-left:4px;
            padding-right:4px;
            transform: scale(.8);
            transition: all 0.3s ease;  */
        }
        .blog-read-more{
            border: 0.50px  solid;
        }
        .blog-item-detailed:hover .blog-read-more{
            background:#131212;
        }
        .post-body-font-size{
            font-size: 19px;
        }
        .post-text-font, .blog-page-font{
                font-kerning: auto;
                font-weight: var(--font_weight_body_preset, 400);
                -webkit-font-smoothing: antialiased;
                                        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
                        }



        .post-blog-mode{
            background:#131212;
            color:#ffffff;
        }

        .post-blog-mode .post-back{
            color:#ffffff;
        }

        .post-blog-mode .post-back:hover , .newsletter-share:hover{
           background: #131212;
        }

        .post-blog-mode .sub-icon path {
            stroke: #ffffff;
        }
        .post-blog-mode .page-item {
            background: transparent;
            box-shadow: none;
            border:0.5px solid ;
        }
        .post-blog-mode .post-title, .post-blog-mode .post-details-top{
            color:#ffffff;
        }
        .post-blog-mode .post-subscribe-msg{
            color:#ffffff;
        }

        .post-blog-mode .post-subscribe-wrapper{
            background: transparent;
            border:0.5px solid ;
            border-radius:4px;
        }

        .blog-post-header{
            border-bottom: 0.5px solid ;
        }

        .blog-post-more-section{
            border-top: 0.5px solid ;
        }
        .blog-theme-border-bottom{
            border-bottom: 0.5px solid ;
        }
        .blog-theme-secondary-text{
            color:;
        }

        .share-icon path {
            stroke: white;
        }

        .share-icon rect {
            stroke: white;
        }

        
        
        .post-share-btn {
           box-shadow: 0px 6px 14px -6px rgba(24, 39, 75, 0.12), 0px 10px 32px -4px rgba(24, 39, 75, 0.1), inset 0px 0px 2px 1px rgba(255, 255, 255, 0.05);
        }

        .post-details-top, .post-area {
            color: #ffffff;
            font-family: 'Inter', sans-serif;
        }

        .post-description{
            color: #ffffff;
            font-family: 'Inter', sans-serif;
        }
        .post-item-each {
            color: #ffffff;
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            font-weight: 600;
            text-transform: none;
            border-radius: 8px;
            
                            min-height: 60px;
                    }

        
